.buttonContainer {
	width: max-content;
	margin-top: 0.3rem;
	gap: 0.3rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.buttonContainer * {
	padding: 0.5rem;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	background-color: var(--body-background);
}

:root {
	--header: #ff4242;
	--header-light: #ff6f6f;
	--light-text: white;
	--history-background: #dbdbdb;
	--calc-background: #dbdbdb;
	--body-background: #bdbdbd;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

#calculatorForm {
	width: max-content;
	margin: 1rem auto;
}

#calculatorForm div {
	width: max-content;
}

.inputContainer {
	margin: auto;
}

#calcResult {
	width: max-content;
	margin: auto;
}

.buttonContainer {
	margin: 1rem auto;
}

.htmlContainer {
	width: 100%;
	max-width: 30rem;
	height: 100vh;
	margin: auto;

	background-color: var(--calc-background);

	display: grid;
	grid-template-rows: max-content 1fr;
}

.historyContainer {
	padding: 1rem;
	background-color: var(--history-background);
}

header {
	width: calc(100% - 2rem);
	text-align: center;
	padding: 1rem;
	background-color: var(--header);
	color: var(--light-text);
}

main {
	width: 100%;
	display: grid;
	grid-template-rows: max-content 1fr;
}

#inputClearer {
	padding: 0.5rem;
}

#calculatorInput {
	outline: none;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}

button {
	background-color: var(--header);
	color: var(--light-text);
	border: none;
}

button:hover {
	background-color: var(--header-light);
	cursor: pointer;
}

#clearHistoryButton {
	padding: 0.5rem;
}

.result {
	/* padding: 0rem 2rem; */
	width: max-content;
	/* background-color: white; */
	transition: all 0.2s;
}

.result:hover {
	cursor: pointer;
	background-color: white;
	padding-left: 2rem;
}

.result b {
	background-color: var(--header);
	color: var(--light-text);
	padding: 0rem 1rem;
}
